body {
  margin: 0;
  }

/****************   Nav Section **********************/
nav {
  background-color:rgb(184, 126, 103);
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 20px;
  color: white;
  font-family:sans-serif;
  font-size:large;
}

nav a {
  text-decoration:none;
  color: white;
  font-family:sans-serif;
  font-weight:bold;
}

nav a:hover {
  text-decoration:underline;
}


/***********************  Footer Section   **************************/
footer {
	display: flex;
  background-color:rgb(184, 126, 103);
  justify-content:center;
  padding: 5px;
  border-top-width: 5px;
  border: solid;
  border-color:white;
  font-family:sans-serif;
  color: white;
}

footer a {
  text-decoration:none;
  color: white;
}

footer a:hover {
  text-decoration:underline;
}

/*********** Splash Page ************************/
header {
  background-color:rgb(231, 144, 109);
  padding: 20px;
  display: flex;
  flex-direction:column;

}

header h1 {
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-weight:bold;
  font-size: 300%;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border:white solid;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.774);
  font-style:italic;
}

.tagline {
  font-family:sans-serif;
  color: white;
  font-weight: bold;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/************* Sections ********************/
hr {
  height: 2px;
  background-color: gray;
  border:none
}

.main {
  padding: 20px 10px;
  max-width: 1300px;
  margin: 20px auto;
}

section h2 {
  font-family: sans-serif;
  padding: 20px;
  color:rgb(180, 60, 17);
  display: flex;
  justify-content: center;
}
section h3 {
  font-family: sans-serif;
  padding: 20px;
  color:rgb(180, 60, 17);
}

section dl {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  font-family: sans-serif;
  font-weight:bold;
}

section dd {
  padding: 0.5em;
  font-family: sans-serif;
}

section ul {
  list-style:circle;
  font-family: sans-serif;
  padding: 0.5em;
  font-weight: bold;
}

section li {
  padding: 0.25em;
}

section a {
  color: #0000EE;
  text-decoration: none;
  font-weight:bold;
}

section a:hover {
  text-decoration:underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 50px;
}

.card img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-color: rgba(207, 205, 205, 0.911);
  padding: 3px;

}

.card {
  background-color:rgb(226, 226, 213);
  border-radius:20px;
  padding: 20px;
}

.card h3 {
  display: flex;
  justify-content: center;
  font-family:'Courier New';
} 

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
    flex-direction: column;
    align-items: flex-start;
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
}

/**************   Contact Page   *****************/
.contact h1{
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:bold;
  font-size: 200%;
}

.contact p{
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style:italic;
}

.one-col {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 10px;
  max-width: 800px; 
  margin-left: auto;
  margin-right: auto;
}

input {
  padding: 10px;
  border-radius: 5px; 
  margin: 10px 0;
}

textarea {
  border-radius: 5px;
  margin: 10px 0;
}